@use "../common/input.scss";

.Select {
  width: 100%;
  @extend %input-wrapper;

  &__label {
    @extend %input-label;
  }

  &__field {
    @extend %input-field;

    &--invalid {
      box-shadow: 0 0 0 2px var(--color-red);
    }

    &--dark {
      box-shadow: none;
      font-weight: bold;
    }
  }
}