.Button {
  font-family: var(--font-default), sans-serif;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  padding: 12px;
  border-radius: 6px;
  min-width: 250px;

  &:focus {
    box-shadow: 0 0 0 2px var(--color-blue);
    outline: 0;
  }

  &:disabled {
    color: #977106;

    &:hover, &:active {
      filter: none;
    }
  }

  &--primary {
    background: var(--color-yellow);
    color: var(--color-black);

    &:hover {
      filter: brightness(110%);
    }

    &:active {
      filter: brightness(85%);
    }
  }

  &--secondary {
    color: var(--color-white);
    background: transparent;
    box-shadow: inset 0 0 0 2px var(--color-yellow);

    &:hover {
      background: var(--color-yellow);
      color: var(--color-black);
    }
  }

  &--dark {
    color: var(--color-black);
  }
}