.CharacterChooser {
  display: flex;
  width: 100%;
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--color-white);
  font-size: 24px;
  width: 100%;
}